<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oil.mapper.postgres.OilConfigMapper">
    <select id="deleteByDeviceNoList">
        UPDATE loader.loader_oil_config_tb SET is_deleted = 1 where device_no in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </select>

</mapper>